{% extends 'main/layout.html' %}

{% block content %}

<br>
<div class="row">

	<div class="shadow bg-white rounded col-4 p-0">
		<img src="https://api.adorable.io/avatars/400/{{other_user.username}}@socnet.png" class="img-fluid rounded" style="height:100%;">
	</div>

	<div class="col-8">
		<div class="jumbotron shadow bg-white">
			<h1 class="display-4">@{{ other_user.username }}</h1>
			<p class="lead">{{ other_user.profile.bio }}</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

			{% if user.username == other_user.username %}
				<a class="btn btn-primary btn-lg shadow" href="#" role="button">Edit Profile</a>
				<a class="btn btn-primary btn-lg shadow" href="#" role="button">Somethin</a>
				<a class="btn btn-primary btn-lg shadow" href="#" role="button">Other</a>
				<a class="btn btn-primary btn-lg shadow" href="#" role="button">Else</a>
			{% elif are_friends == True %}
				<a class="btn btn-outline-success btn-lg" href="#" role="button">Message</a>
				<a class="btn btn-outline-danger btn-lg" href="#" role="button">Remove friend</a>
				<a class="btn btn-primary btn-lg" href="#" role="button">Other</a>
				<a class="btn btn-primary btn-lg" href="#" role="button">Else</a>
			{% else %}
				<a class="btn btn-outline-success btn-lg" href="#" role="button">Add Friend</a>
				<a class="btn btn-outline-danger btn-lg" href="#" role="button">Report</a>
				<a class="btn btn-primary btn-lg" href="#" role="button">Other</a>
				<a class="btn btn-primary btn-lg" href="#" role="button">Else</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}